.container {
  height: 100vh;
}

.navbar{
  padding: 15px;
  height: 85px;
  display: flex;
  justify-content: flex-end;
  background-color: orange;
  align-items: center;

  a{
    margin: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: .2s;
  }
  a:hover{
    color: #DCDCDC;
    transition: .3s;
  }  
}
.main__users{
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  ul{
    margin: unset;
  }
}
